h1 {
  color: white !important;
  font-weight: 800!important;
  font-size: 5em!important;
}

h3 {color: white!important;}

html {
  height: 100%!important;
}


body {
  font-family: 'Montserrat', sans-serif!important;}

#dog{

  background: url("img.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  
  /*height: -webkit-fill-available; */
  /*width: -webkit-fill-available;    */
  padding: 43px 142px;
  z-index: -1;
  margin: 0 auto;
  background-size: cover;
  


  /* Center and scale the image nicely */
}


#content {
  text-align:center;
  padding-top: 25%;
  padding-bottom: 25%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.4);
}

hr {
  width: 400p!important;
  border-top: 1px solid #f8f8f8!important;
  border-bottom: 1px solid rgba(0,0,0,0.2)!important;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


